<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ewebtd.mapper.DriverMapper">

    <!--返回类型Driver-->
    <resultMap id="DriverResult" type="DutyDriverInfo">
        <id  property="driverId" column="DRIVER_ID"/>
        <result property="driverName" column="DRIVER_NAME"/>
        <result property="driverMobilePhone" column="DRIVER_MOBILE_PHONE"/>
        <result property="driverOrder" column="DRIVER_ORDER"/>
    </resultMap>

    <!--司机添加-->
    <insert id="addDriver" parameterType="DutyDriverInfo">
        INSERT INTO duty_driver_info
        (DRIVER_NAME,
        DRIVER_MOBILE_PHONE,
        DRIVER_ORDER)
        VALUES
        (#{driverName},
        #{driverMobilePhone},
        #{driverOrder})
    </insert>

    <!--修改司机信息-->
    <update id="updateDriver" parameterType="DutyDriverInfo" >
        UPDATE duty_driver_info
        <set>
            <if test="driverName!=null and driverName != ''">DRIVER_NAME=#{driverName}</if>
            <if test="driverMobilePhone!=null and driverMobilePhone != ''">DRIVER_MOBILE_PHONE=#{driverMobilePhone}</if>
            <if test="driverOrder!=null and driverOrder != ''">DRIVER_ORDER=#{driverOrder}</if>
        </set>
        WHERE DRIVER_ID = #{driverId}
    </update>

    <!--多条件查询司机信息-->
    <select id="selectDriver" parameterType="DutyDriverInfo" resultMap="DriverResult">
        SELECT * FROM duty_driver_info
        <trim prefix="WHERE" prefixOverrides="AND |OR">
            <if test="driverId!=null and driverId != ''">AND DRIVER_ID=#{driverId}</if>
            <if test="driverName!=null and driverName != ''">AND DRIVER_NAME=#{driverName}</if>
            <if test="driverMobilePhone!=null and driverMobilePhone != ''">AND DRIVER_MOBILE_PHONE=#{driverMobilePhone}</if>
            <if test="driverOrder!=null and driverOrder != ''">AND DRIVER_ORDER=#{driverOrder}</if>
        </trim>
    </select>
    <!--多条件查询司机信息-->
    <select id="selectDriverOrderByDriverOrder" resultType="Integer">
        SELECT * FROM duty_driver_info order by DRIVER_ORDER
    </select>


    <!--删除司机-->
    <delete id="deleteDriver" parameterType="Integer">
        DELETE from duty_driver_info
        WHERE  DRIVER_ID = #{driverId}
    </delete>

</mapper>